attrs
certifi
chardet
Click
cycler
Cython
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
decorator
Flask
Flask-Compress
idna
ipython-genutils
itsdangerous
Jinja2
jsonschema
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
nbformat
numpy
pandas
plotly
pyparsing
pyrsistent
python-dateutil
pytz
requests
requests-file
requests-ftp
retrying
scikit-learn
scipy
seaborn
six
traitlets
urllib3
Werkzeug
wrapt
